<a class="brand" routerLink="/"><img src="assets/img/brand.svg" /><span>{{ brand | translate }}</span></a>
<nav>
  <ui-dropdown right="true">
    <i dropdown-toggle class="fas fa-user-tie"></i>
    <ul dropdown-menu>
      <li><button><i class="fal fa-users"></i>{{ 'Overview' | translate }}</button></li>
      <li><button><i class="fal fa-car"></i>{{ 'Vehicles' | translate }}</button></li>
      <li class="divider"></li>
      <li><button><i class="fal fa-power-off"></i>{{ 'Profile' | translate }}</button></li>
    </ul>
  </ui-dropdown>
</nav>