<ul>
  <li>
    <ng-content select="[action-bar-top]"></ng-content>
    <button type="button"><i class="fal fa-plus"></i></button>
  </li>
  <li class="divider"></li>
  <li routerLinkActive="active" *ngFor="let route of routes">
    <a [routerLink]="['', route.path]" [routerLinkActive]="!route.children ? 'active' : ''"><i class="{{route.data?.color}} {{route.data?.icon}}"></i><span>{{ route.data?.title | translate }}</span></a>
    <ul *ngIf="route.children">
      <li>{{route.data?.title | translate}}</li>
      <li *ngFor="let child of route.children">
        <a [routerLink]="['', route.path, child.path ]" routerLinkActive="active"><i class="{{child.data?.color}} {{child.data?.icon}}"></i><span>{{ child.data?.title | translate }}</span></a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  <li>
    <ng-content select="[action-bar-bottom]"></ng-content>
    <button (click)="toggle()" type="button"><i class="fal {{collapsed ? 'fa-chevron-double-right' : 'fa-chevron-double-left'}}"></i></button>
  </li>
</ul>