<ui-header [title]="'vehicles' | translate"></ui-header>
<div class="card-grid">
  <div class="brands-grid">
    <ui-card *ngFor="let brand of brands" (click)="filterBrand(brand)" class="brand" [class.brand--selected]="brand == brandFilter">
      {{ brand }}
    </ui-card>
  </div>
  <ui-card>
    <ui-table
      *ngIf="dataset; else loader"
      [headers]="headers"
      [data]="dataset"
      [filterable]="true"
      [countLabel]="'vehiclesPl' | translate: { count: dataset.length }"
      [totalRows]="dataset.length"
      (reachedEnd)="loadData()"
    ></ui-table>
  </ui-card>
</div>
<a id="add" routerLink="/vehicles/edit/0">
  <i class="fad fa-plus-circle"></i>
  <p>Add a new {{ 'vehicle' | translate }}</p>
</a>

<ng-template #carImageTemplate let-data>
  <img class="car-image" src="{{ data.avatar }}" alt="auto" />
</ng-template>

<ng-template #specsTemplate let-data>
  <div class="specs">
    <div class="specs-title">{{ data.brand }} {{ data.model }}</div>
    <div *ngFor="let spec of ['plate', 'color', 'fuel', 'vendor']">
      <div class="label">{{ spec | translate }}</div>
      <div class="value">{{ data[spec] }}</div>
    </div>
  </div>
</ng-template>

<ng-template #ownerTemplate let-data>
  <div class="owner">
    <div class="label">{{ 'employeesPl' | translate: { count: 1 } }}</div>
    <div class="value">
      {{ data.owner }}
      <ui-avatar [url]="'https://i.pravatar.cc/50?' + data.id" [name]="data.owner" class="ui-avatar--sm"></ui-avatar>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <div id="dLoader">
    <div>
      <ui-loader></ui-loader>
    </div>
  </div>
</ng-template>
