:host{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 30px;
  width:240px;
  align-items: center;

}
.container{
  border-bottom: 1px solid lightgray;
  height:37px;
}
.employeeBox{


  display: flex;
  flex-direction:row;
  margin:10px 0 10px 50px;

}
.employeeName{
  margin-left: 15px;
}