// VARIABLES
$box-shadow: 0 .25rem .5rem 0 rgba(black,.12), 0 .125rem .25rem 0 rgba(black,.08);
$darken-percentage: 10% !default;
$lighten-percentage: 6% !default;


// VARIABLE LISTS
$border-radiuses: (sm: .125rem, base: .25rem) !default;
$font-families: (base: '"Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"') !default;
$font-sizes: (xs: .25rem, sm: .5rem, md: .75rem, base: .875rem, lg: 1.25rem, xl: 1.75rem) !default;
$font-weights: (base: 400, bold: 500, extra: 700) !default;
$spacers: (xxs: .125rem, xs: .25rem, sm: .5rem, md: .75rem, base: 1rem, lg: 1.5rem, xl: 2rem, xxl: 4rem) !default;


// CONSOLIDATE
$variables: (
  border-radius: $border-radiuses,
  font-family: $font-families,
  font-size: $font-sizes,
  font-weight: $font-weights,
  spacer: $spacers
) !default;