// COLORS
$primary: 22 160 133 !default;

$accent1: 41 128 185 !default;
$accent2: 142 68 173 !default;
$accent3: 211 84 0 !default;
$accent4: 241 196 15 !default;

$error: 192 57 43 !default;
$neutral: 189 195 199 !default;
$success: 39 174 96 !default;
$warning: 243 156 18 !default;

$black: 0 0 0 !default;
$white: 255 255 255 !default;

// CONSOLIDATE
$colors1: (
  "primary": $primary,
  "accent1": $accent1,
  "accent2": $accent2,
  "accent3": $accent3,
  "accent4": $accent4,
) !default;
$colors2: (
  "error": $error,
  "success": $success,
  "warning": $warning,
  "black": $black,
  "white": $white,
) !default;