.container {
  display: flex;
  flex-direction: column;
  background: white;
}

.workItem {
  background-color: rgb(var(--color-neutral-800));
  margin: 3px 0;
  cursor: pointer;

  .detail {
    padding: 5px 20px;
    background-color: rgb(var(--color-neutral-850));
    color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;

    //transition: height 10s ease;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        &:first-child {
          flex: 0 0 60%;
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: row;
          flex: 0 0 15%;
          justify-content: space-between;

          > :nth-child(2) {
            width: 24px;
            border-radius: 50%;
            text-align: center;
            &:hover {
              background-color: rgb(var(--color-neutral-800));
            }
          }
        }

      }
    }
  }

  .expand {
    display: block;
    width: 100%;
    background-color: rgb(var(--color-neutral-850));
    height: 20px;
    vertical-align: middle;

    > div {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgb(var(--color-neutral-800));
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      transition: all 1s ease;
    }
  }
}

.numDays {
  text-align: right;
}

.date .project {
  font-size: var(--font-size-lg);
}

.time .task {
  font-size: var(--font-size-base);
}

.workItemContent {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  color: white;

  > div.time {
    text-align: right;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.addWorkItem {
  display: flex;
  background-color: rgb(var(--color-neutral-800));

  img {
    margin: 0 auto;
  }
}

.expand-panel {
  max-height: 2000px !important;
}

.rotate {
  transform: translateY(-50%) rotate(180deg) !important;
}
