:host {
  display: grid;
  grid-gap: var(--spacer-base);

  :host(.has-columns) {
    grid-template-columns: 3fr 7fr;
  }

  ::ng-deep formly-group {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: var(--spacer-sm);
  }
}