:host {
  align-items: center; display: flex; justify-content: center; min-height: inherit;

  > main {
    background-color: rgb(var(--color-white)); border: solid .0625rem rgb(var(--color-neutral-250));
    border-radius: var(--border-radius-sm); padding: var(--spacer-xl) var(--spacer-xxl); width: 32.625rem;

    img { display: block; height: 4rem; margin: 0 auto var(--spacer-xl); }
  }
}