.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .timesheet-overview,
  .timesheet-detail {
    flex-basis: 0;
    flex-grow: 1;

    .header {
      h3 {
        text-transform: uppercase;
      }

      .selection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .datepicker .card {
    padding: var(--spacer-lg);
  }

  .timesheet-detail .card {
    height: 100%;
  }

  .timesheet-detail, .datepicker {
    padding: var(--spacer-sm);
  }
}

.card {
  background-color: rgb(var(--color-white));
}