:host{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex:1 0 40%;
  margin-right: 20px;
}
item {
  flex: 1 1 250px;
}
#plusAsset{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#addAsset{
  grid-column: 1 / span 2;
  height:42px;
  padding-top: 5px;
  background-color: white;
  text-align: center;
  height:60px;
}
.asset{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display:grid;
  grid-template-columns: 35% 65%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  min-width: 200px;
}
.assetInformation{
  display: flex;
  flex-direction: column;
}
.image{
  height:45px;
  width:80px;
  margin:0 auto 0 auto;
}
.inUse{
  font-size: 10px;
}
.info{
  font-size: 13px;
  font-weight: bold;
}
.plusIcon{
  margin-right:10px;
  width:50px;
  height:50px

}