<div id='dInformation'>

    <div class='dGroup'>

        <div>
            <p>
                Function
            </p>
            <p>
                Full Stack Developer
            </p>
        </div>

        <div>
            <p>
                Location Consultancy
            </p>
            <p>
                VRT
            </p>
        </div>

        <div>
            <p>
                Resume
            </p>

            <button>
                <ui-button>
                    <p>
                        Download
                    </p>
                </ui-button>

                <ui-button>
                    <p>
                        Preview
                    </p>
                </ui-button>
            </button>
        </div>
    </div>

    <div class='dGroup'>

        <div>
            <p>
                Function
            </p>
            <p>
                Full Stack Developer
            </p>
        </div>

        <div>
            <p>
                Location Consultancy
            </p>
            <p>
                VRT
            </p>
        </div>

        <div>
            <p>
                Resume
            </p>

            <button>
                <p>
                    Download
                </p>

                <p>
                    Preview
                </p>
            </button>
        </div>
    </div>

    <div class='dGroup'>

        <div>
            <p>
                Function
            </p>
            <p>
                Full Stack Developer
            </p>
        </div>

        <div>
            <p>
                Location Consultancy
            </p>
            <p>
                VRT
            </p>
        </div>

        <div>
            <p>
                Resume
            </p>

            <button>
                <p>
                    Download
                </p>

                <p>
                    Preview
                </p>
            </button>
        </div>
    </div>

    <div class='dGroup'>

        <div>
            <p>
                Function
            </p>
            <p>
                Full Stack Developer
            </p>
        </div>

        <div>
            <p>
                Location Consultancy
            </p>
            <p>
                VRT
            </p>
        </div>

        <div>
            <p>
                Resume
            </p>

            <button>
                <p>
                    Download
                </p>

                <p>
                    Preview
                </p>
            </button>
        </div>
    </div>

    <div class='dGroup'>

        <div>
            <p>
                Function
            </p>
            <p>
                Full Stack Developer
            </p>
        </div>

        <div>
            <p>
                Location Consultancy
            </p>
            <p>
                VRT
            </p>
        </div>

        <div>
            <p>
                Resume
            </p>

            <button>
                <p>
                    Download
                </p>

                <p>
                    Preview
                </p>
            </button>
        </div>
    </div>
</div>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <ui-form [fields]="fields"></ui-form>
    <button type="submit" [disabled]="form.invalid">
        <i class="fad fa-save"></i>
        <p>
            {{ 'save' | translate }}
        </p>
    </button>
</form> -->

<a id='aAdd' routerLink="/employees/detail/0">
    <i class="fad fa-pen"></i>
    <p>
        Edit information
    </p>
</a>