<div id="outerDiv">
    <div id="user" *ngFor="let usr of dataset" >
        <ui-avatar [url]="usr.user.avatar" [name]="usr.user.name" class="avatar ui-avatar--sm"></ui-avatar>
        <div class="nameFlex">
            <h4 class="name">{{usr.user.name}}</h4>
            <p class="week">week 49</p>
        </div>
        <!--<div class="timebar">
            <progress class="progressBar" max="40" value="{{usr.worked}}"></progress>
        </div>-->
        <div class="progressBar radius">
            <div class="container blueBar radius" [style.width.%]="usr.worked|multiply">{{usr.worked | multiply}}%</div>
            <p class="hoursWorked">{{usr.worked}} hours out of 40 achieved</p>
        </div>
    </div>
    <div class="greenBar">
        <a href="#" class="completeOverview">Go to complete overview</a>
    </div>
</div>