<ul>
  <li>
    <img src="https://volvo-tools-prd-media.s3.amazonaws.com/testdrive/models/normal/v40_side.png" width="400" />

    <div class="dGroup">
      <p class="pHeader">
        Brand & Model
      </p>
      <p class="pBrand">
        Volvo V40
      </p>
    </div>
  </li>

  <li>
    <div class="dGroup">
      <p class="pHeader">
        Numberplate
      </p>
      <p>
        1-VEF-693
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Chassis number
      </p>
      <p>
        psdfyfsdfwedxghyr4sef4
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        TransMission
      </p>
      <p>
        Automatic
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Fuel
      </p>
      <p>
        Gasoline
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Color
      </p>
      <p>
        White
      </p>
    </div>
  </li>

  <li>
    <div class="dGroup">
      <p class="pHeader">
        Construction year
      </p>
      <p>
        2017
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Assigned since
      </p>
      <p>
        Septembar 2018
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Deliverd by
      </p>
      <p>
        Volvo Celis Hasselt
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Tires
      </p>
      <p>
        All Season
      </p>
    </div>
  </li>

  <li>
    <div class="dGroup">
      <p class="pHeader">
        Kilometer stance assigned date
      </p>
      <p>
        135.354 km
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Current Kilometer stance
      </p>
      <p>
        189.612 km
      </p>
    </div>

    <div class="dGroup">
      <p class="pHeader">
        Last maintenance date
      </p>
      <p>
        13 November 2018
      </p>
    </div>
  </li>
</ul>

<a id="aAdd" routerLink="/employees/detail/0">
  <i class="fad fa-plus-circle"></i>
  <p>
    Edit car
  </p>
</a>
