<div class="container">

  <div class="item">
    <div class="title">TOTAL HOURS</div>
    <div class="data">
      <ul>
        <li>Today</li>
        <li>This Week</li>
        <li>this Month</li>
      </ul>
      <ul>
        <li>{{this.hoursToday()}}</li>
        <li>{{this.hoursThisWeek()}}</li>
        <li>{{this.hoursThisMonth()}}</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <div class="title">BALANCE TO WORK</div>
    <div class="data">
    <ul>
      <li>Today</li>
      <li>This Week</li>
      <li>this Month</li>
    </ul>
    <ul>
      <li>{{this.balanceToday()}}</li>
      <li>{{this.balanceThisWeek()}}</li>
      <li>{{this.balanceThisMonth()}}</li>
    </ul>
    </div>
  </div>

</div>