:host > div {
  display: flex;

  > button {
    margin-right: 1rem; padding-top: .75rem;

    &:last-child { margin-right: 0; }

    &::after {
      border-bottom: solid .1875rem rgb(var(--color-primary)); content: ''; display: block;
      margin-top: .5625rem; transform: scaleX(0); transition: transform .25s;
    }

    &.active, &:hover { &::after { transform: scaleX(1); } }

    &.disabled { color: rgb(var(--color-neutral-500)); pointer-events: none; }
  }
}