<div id="dContent">
  <div id="dEmployees">
    <p>{{ 'employees' | translate }}</p>

    <ui-table *ngIf="employees; else loader" [data]="employees" [headers]="tableHeaders" [showHeaders]="false" [oddBackgrounded]="false"></ui-table>
  </div>

  <div id="dDetail">
    <ul id="lMenu">
      <li routerLinkActive="active">
        <a routerLink="basic">
          <p>
            Basic information
          </p>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="assets">
          <p>
            Assets
          </p>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="vehicle">
          <p>
            Vehicle
          </p>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="contract">
          <p>
            Contract
          </p>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="timesheets">
          <p>
            Time registration
          </p>
        </a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #employeeTemplate let-data>
  <a routerLink="/employees/detail/{{ data.id }}" class="dEmployee" [class.selected]="employee && data.id === employee.id">
    <ui-avatar url="https://i.pravatar.cc/50?{{ data.id }}" class="ui-avatar--sm"></ui-avatar>

    <p>
      {{ data.last_name + ' ' + data.first_name }}
    </p>

    <i class="fad fa-chevron-right"></i>
  </a>
</ng-template>

<ng-template #loader>
  <div id="dLoader">
    <div>
      <ui-loader></ui-loader>
    </div>
  </div>
</ng-template>
