:host {

    #dContent {

        display       : flex;
        flex-direction: row;
        flex          : 1;

        div#dEmployees {

            min-width       : 300px;
            background-color: #FFFFFF;
            margin-right    : 1rem;
            display         : flex;
            flex-direction  : column;

            >p {

                padding      : 1rem;
                border-bottom: 4px solid rgba(0, 0, 0, 0.05);
                text-align   : center;
            }

            a.dEmployee {

                flex           : 1;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                cursor         : pointer;
                padding        : 0.75rem 1.5rem;
                margin         : 0.5rem 0;
                transition     : all 0.2s;
                text-decoration: none;

                &:hover {

                    background-color: rgb(var(--color-neutral-100));
                }

                &.selected {

                    background-color         : rgb(var(--color-neutral-100));
                    border-bottom-left-radius: 50px;
                    border-top-left-radius   : 50px;
                    margin-left              : 1rem;
                    padding-left             : 0.75rem;

                    >i {
                        display: block
                    }

                    >p {
                        color: inherit;
                    }
                }

                >p {

                    align-self : center;
                    margin-left: 1rem;
                    flex       : 1;
                    color      : #000000;
                }

                >i {
                    display  : none;
                    font-size: 1.25rem;
                }
            }
        }

        div#dDetail {

            background-color: #FFFFFF;
            flex            : 1;
            display         : flex;
            flex-direction  : column;

            ul#lMenu {

                display       : flex;
                flex-direction: row;

                >li {

                    flex           : 1;
                    list-style     : none;
                    display        : flex;
                    align-items    : stretch;
                    justify-content: stretch;
                    border-bottom  : 4px solid rgba(0, 0, 0, 0.05);

                    &.active {

                        background-color: rgb(var(--color-primary));


                        a>p {

                            color: #FFFFFF;
                        }
                    }

                    >a {

                        width          : 100%;
                        padding        : 1rem;
                        text-decoration: none;

                        >p {

                            font-weight   : 800;
                            text-transform: uppercase;
                            text-align    : center;
                        }
                    }
                }
            }

            ::ng-deep router-outlet~* {

                flex          : 1;
                display       : flex;
                flex-direction: column;
                padding       : 0;
            }
        }

        >div>p {

            font-weight   : 800;
            text-transform: uppercase;
        }
    }

    div#dLoader {

        flex           : 1;
        display        : flex;
        align-items    : center;
        justify-content: center;

        >div {

            width : 50px;
            height: 50px;
        }
    }
}