.input-group {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 100%;

  .input-box {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  .input-group-append {
    margin-left: -1px;
    display: -webkit-box;
    display: flex;

    .btn {
      position: relative;
      z-index: 2;
    }
  }
}

@mixin datepicker($range: false) {
  @if $range {
    input:first-of-type {
      display: none;
    }
  }

  .myDpSelectorArrow {
    &:before {
      border-bottom-color: rgb(var(--color-neutral-600));
    }
    &:after {
      border-bottom-color: rgb(var(--color-white));
    }
  }

  .ng-mydp {
    * {
      font-family: var(--font-family-base);
      @if $range {
        font-size: 1rem;
      }
      @else {
        font-size: var(--font-size-md);
      }
    }

    .myDpIcon {
      font-family: angular-mydatepicker;
      @if $range {
        font-size: var(--font-size-base);
      }
      @else {
        font-size: var(--font-size-md);
      }
    }

    display: block;

    @if $range {
      position: relative;
    }
    @else {
      position: static;

      .icon-mydrpcalendar {
        font-size: var(--font-size-base);
      }
    }

    .myDpSelector {
      @if $range {
        border: none;
        &:focus {
          border: none;
        }
      }
      @else {
        border: 1px solid rgb(var(--color-neutral-500));
        padding: var(--spacer-base);
        background-color: rgb(var(--color-white));
      }
      margin: 0;

      .monthYearSelBar {
        padding-bottom: var(--spacer-lg);

        .myDpMonthYearText {
          .myDpHeaderBtn {
            @if $range {
              font-size: var(--font-size-xl);
            }
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
          }
        }
      }

      .myDpDaycell,
      .myDpMonthcell,
      .myDpYearcell,
      .myDpWeekDayTitle {
        text-transform: uppercase;
        padding: 10px 0;
        line-height: 2;
        background-color: rgb(var(--color-white));
        color: rgb(var(--color-black));

        &.myDpNextMonth,
        &.myDpPrevMonth {
          .myDpDayValue {
            color: rgb(var(--color-neutral-100));
          }
        }

        &:focus {
          box-shadow: none;
        }

        &:hover {
          background: none;
        }
      }

      .myDpDaycell {
        &:nth-last-child(-n + 2) {
          color: rgb(var(--color-accent1));
        }
      }

      .myDpDayValue, .myDpMonthValue, .myDpYearValue {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        border: none;
      }

      .myDpMarkCurrYear, .myDpMarkCurrMonth, .myDpMarkCurrDay {
        background-color: rgb(var(--color-neutral-100));
      }
    }
  }
}

@mixin rangeSelection() {
  &.myDpRangeColor,
  &.myDpSelectedDay,
  &.myDpSelectedMonth,
  &.myDpSelectedYear {
    background-color: inherit;

    .myDpDayValue {
      background-color: rgb(var(--color-primary));
      color: rgb(var(--color-white));
    }
  }
}

:host ::ng-deep .range {
  @include datepicker($range: true);
}
:host ::ng-deep .single {
  @include datepicker($range: false);
}
:host ::ng-deep .weekend-disabled {
  .ng-mydp {
    .myDpDaycell,
    .myDpWeekDayTitle {
      &:nth-last-child(-n + 2) {
        pointer-events: none;
      }

      &:not(:nth-last-child(-n + 2)) {
        @include rangeSelection;
      }
    }
  }
}
:host ::ng-deep .weekend-enabled {
  .ng-mydp {
    .myDpDaycell,
    .myDpWeekDayTitle {
      @include rangeSelection;
    }
  }
}
