<div
  class="input-group"
  [ngClass]="{ range: rangeSelectionEnabled, single: !rangeSelectionEnabled, 'weekend-enabled': weekendEnabled, 'weekend-disabled': !weekendEnabled }"
>
  <input
    angular-mydatepicker
    class="input-box"
    placeholder="dd/mm/yyyy"
    (click)="dp.toggleCalendar()"
    [(ngModel)]="model"
    [options]="datePickerOptions"
    (calendarViewChanged)="onCalendarViewChanged($event)"
    (dateChanged)="onDateChanged($event)"
    (rangeDateSelection)="onRangeDateSelection($event)"
    #dp="angular-mydatepicker"
  />

  <div class="input-group-append" *ngIf="!rangeSelectionEnabled">
    <button type="button" class="btn btn-secondary" *ngIf="model" (click)="dp.clearDate()">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="input-group-append" *ngIf="!rangeSelectionEnabled">
    <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
      <i class="fa fa-calendar-o"></i>
    </button>
  </div>
</div>
