<ui-table *ngIf="assets; else loader" [data]="assets" [headers]="tableHeaders" [showHeaders]="false"></ui-table>

<a id="aAdd" routerLink="/employees/detail/0">
  <i class="fad fa-plus-circle"></i>
  <p>
    Link a new asset
  </p>
</a>

<ng-template #loader>
  <div id="dLoader">
    <div>
      <ui-loader></ui-loader>
    </div>
  </div>
</ng-template>

<ng-template #imageTemplate let-data>
  <div class="imgContainer">
    <img src="{{ data.image }}" height="100" />
  </div>
</ng-template>

<ng-template #assetTemplate let-row>
  <p class="pName">
    {{ row.name }}
  </p>
</ng-template>

<ng-template #priceTemplate let-data>
  <p class="pValue">€{{ data.price }}</p>
</ng-template>
